body {
    background-color: #F8F8F8;
  }
  
  form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #BBBBBB;
    width: 400px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #007FFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #0066CC;
  }